.nav-header {
  padding-bottom: 96px;
  @include media-breakpoint-down(md) {
    padding-bottom: 85px;
  }
}


.nav-top {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s all;
}

.nav-logo {
  transition: 0.5s all;
  &:hover {
    opacity: 0.75;
  }
}
