.p-table__th--num {
  width: 20%;
  @include media-breakpoint-down(sm) {
    width: 45%;
  }
}

.p-table__th--name {
  width: 40%;
  @include media-breakpoint-down(sm) {
    width: 25%;
  }
}

.p-table__head {
  background: #562a4d;
  border-bottom: 3px solid #6c757d;
}

.p-table__link {
  & figure {
    transition: 0.3s opacity;
    &:hover {
      opacity: 0.85;
    }
  }
}

.p-table__foot {
  background: #562a4d;
  border-top: 3px solid #6c757d;
}
