.top {
  background: url(../assets/images/mv01.jpg) 50% 20% no-repeat;
  background-size: cover;
}

.top__inner {
  position: absolute;
  top: 50%;
  left: var(--bs-gutter-x, 0.75rem);
  max-width: 450px;
  transform: translateY(-50%);
  @include media-breakpoint-down(lg) {
    max-width: 350px;
  }
  @include media-breakpoint-down(md) {
    top: 65%;
    max-width: 250px;
  }
}

.top__title {
  font-size: 4rem;
  padding-right: 3rem;
  border-right: 2px solid #fff;
  @include media-breakpoint-down(lg) {
    padding-right: 2rem;
    font-size: 3rem;
  }
  @include media-breakpoint-down(md) {
    font-size: 2rem;
  }
}

.top__subtitle {
}

.top-scrolldown {
  position: absolute;
  bottom: 3.38542%;
  right: 2.5%;
  display: block;
  padding-right: 180px;
  overflow: hidden;
  color: #fff;
  font-weight: 700;
  font-size: 0.6rem;
  font-family: Montserrat, sans-serif;
  line-height: 1.2;
  -webkit-transform: rotate(90deg) translate(0%, -100%);
  -ms-transform: rotate(90deg) translate(0%, -100%);
  transform: rotate(90deg) translate(0%, -100%);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  letter-spacing: 0.3em;
  @include media-breakpoint-down(md) {
    right: 8%;
  }
  &::after {
    position: absolute;
    right: 0;
    bottom: 8px;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 5px 0 0 5px;
    content: "";
  }
}

.top-scrolldown__line {
  position: absolute;
  right: 0;
  bottom: 7px;
  display: block;
  width: 166px;
  height: 1px;
  overflow: hidden;
  &::before {
    background-color: #fff;
    position: absolute;
    display: block;
    width: 100%;
    height: inherit;
    content: "";
  }
  &::after {
    background-color: #000;
    -webkit-animation: line-scroll 1.3s cubic-bezier(0.215, 0.61, 0.355, 1)
      infinite;
    animation: line-scroll 1.3s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    position: absolute;
    display: block;
    width: 100%;
    height: inherit;
    content: "";
  }
}

@-webkit-keyframes line-scroll {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  80% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes line-scroll {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  80% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
