.top {
  background: url(https://storage.googleapis.com/vue-course-api.appspot.com/leolee/1626638369252.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=p39ROs9YBUDaPqO9uuBiY1EZ1FUcOWzn2le1xDBSAR2THVQoEP6yLZ1Ibv5gnoPXHdhW%2Fun9Y1eDT6mmOayTBGTrj6b7RgRB7rPQUh4ijNyTOqgYoV92Wvky%2BZ9CNMm58u5KfD5p5kaAuYTZ5uIwZ6AfkaedocP%2B6L8bMuyL33mZ9JV02d0cKXvJOENOgd%2F7eteG%2BkaIywQfp4e3tg4%2F5QMboQ1HF9gqDhRB3G%2FAaJspBJ0rxPQxnkCqT7xFGaGqmubrq6p4SH9v3013tMSr3aIRGcHOC%2BxxNi0v9Ete8beGJixF2g1rQpxfKGsIrLYPUMEzeHBIEEwp4DTjYLBiSQ%3D%3D) 50% 20% no-repeat;
  background-size: cover;
}

.top__inner {
  position: absolute;
  top: 50%;
  left: var(--bs-gutter-x, 0.75rem);
  max-width: 450px;
  transform: translateY(-50%);
  @include media-breakpoint-down(lg) {
    max-width: 350px;
  }
  @include media-breakpoint-down(md) {
    top: 65%;
    max-width: 250px;
  }
}

.top__title {
  font-size: 4rem;
  padding-right: 3rem;
  border-right: 2px solid #fff;
  @include media-breakpoint-down(lg) {
    padding-right: 2rem;
    font-size: 3rem;
  }
  @include media-breakpoint-down(md) {
    font-size: 2rem;
  }
}

.top__subtitle {
}

.top-scrolldown {
  position: absolute;
  bottom: 3.38542%;
  right: 4%;
  display: block;
  padding-right: 180px;
  overflow: hidden;
  color: #fff;
  font-weight: bold;
  font-size: .6rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  -webkit-transform: rotate(90deg) translate(0%, -100%);
  -ms-transform: rotate(90deg) translate(0%, -100%);
  transform: rotate(90deg) translate(0%, -100%);
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  letter-spacing: .3em;
  @include media-breakpoint-down(md) {
    right: 8%;
  }
  &::after {
    position: absolute;
    right: 0;
    bottom: 8px;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 5px 0 0 5px;
    content: "";
  }
}

.top-scrolldown__line {
  position: absolute;
  right: 0;
  bottom: 7px;
  display: block;
  width: 166px;
  height: 1px;
  overflow: hidden;
  &::before,
  &::after {
    position: absolute;
    display: block;
    width: 100%;
    height: inherit;
    content: "";
  }
  &::before {
    background-color: #fff;
  }
  &::after {
    background-color: #000;
    -webkit-animation: line-scroll 1.3s cubic-bezier(0.215, 0.61, 0.355, 1)
      infinite;
    animation: line-scroll 1.3s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }
}

@-webkit-keyframes line-scroll {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  80% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes line-scroll {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  80% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

// products
.top-products {
  background: url(https://storage.googleapis.com/vue-course-api.appspot.com/leolee/1626638411518.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=QcOhOOb2mCwtn31EdJGoxDW2yMz80RGwfbe0fv8lBatiaCQzbIpCdR8iE%2FFLXCaaO9XTcgps3Dp2Mym1vb0oeS0NdZjnERMbcH8la%2FBVIs%2BjxgQ73ImSqSmdSOhFmVpg83cifYOf0MzdrHAwrxaPWvlTlX36R0IglI2Mr6uCbBKK6LN6aOYfJSbqfU9Erkg6OMfpbOVQJcJ0gxcccp2Gs8lAC1DmRQsryLvlUHEKAhUqZtzrLEX%2Bqqz76f6TkQ2uwX%2BbftFjF24MClmWzQ58KdXmSQdii%2B8uynHnLK8qyqskjtE%2BAGx6cCRKLr3miGMsmgN7W19po%2BDaNExfEN5%2BBA%3D%3D) no-repeat top center;
  background-size: cover;
  color: #fff;
}

.top-products-card {
  margin-bottom: 40px;
}

.top-products-card__link {
  text-decoration: none;
  position: relative;
  display: block;
  color: #fff;
  transition: 0.3s opacity;
  &:hover {
    color: #fff;
    opacity: 0.85;
  }
}

.top-products-card__media {
  & figcaption {
    text-align: right;
    display: block;
    padding-right: 25%;
    padding-top: 5px;
    font-size: 18px;
    @include media-breakpoint-down(md) {
      font-size: 12px;
    }
  }
}

.top-products-card__text {
  writing-mode: vertical-lr;
  position: absolute;
  font-family: Montserrat, sans-serif;
  top: -10%;
  left: 3%;
  font-size: 2.5rem;
  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
  }
}

// news
.top-news {
  background: #000;
  color: #fff;
  position: relative;
  &::after {
    content: "";
    background: url(../assets/images/news.png) no-repeat;
    position: absolute;
    width: 150px;
    height: 150px;
    right: 0;
    bottom: 0;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.top-news__inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.top-news__title {
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  font-size: 1.5rem;
  & a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s opacity;
    &:hover {
      opacity: 0.8;
    }
  }
}

.top-news__item {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 1.5em;
  width: 100%;
}

.top-news__lists {
  padding-left: 0;
}

.top-news__list {
  list-style: none;
  background: url(../assets/images/news-repeat-bg.png);
  height: 38px;
  margin-bottom: 14px;
  line-height: 0;
  @include media-breakpoint-down(md) {
    height: 55px;
  }
}

.top-news__link {
  text-decoration: none;
  font-size: 14px;
  display: table;
  height: 38px;
  transition: 0.3s opacity;
  &:hover {
    opacity: 0.8;
  }
  @include media-breakpoint-down(md) {
    height: 55px;
  }
}

.top-news__date {
  text-align: center;
  display: table-cell;
  width: 100px;
  margin-right: 6px;
  height: inherit;
  vertical-align: middle;
}

.top-news__description {
  display: table-cell;
  max-width: 819px;
  height: inherit;
  vertical-align: middle;
  padding: 0 15px 0 25px;
  line-height: 1.2;
  @include media-breakpoint-down(md) {
    line-height: 1.5;
  }
}
